services:
  connect-postgres:
    container_name: connect-postgres
    image: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=waiconnect
      - POSTGRES_PASSWORD=waiconnect
    ports:
      - "5432:5432"
    networks:
      - proxy-net

  waikato-connect:
    container_name: waikato-connect
    
    build:
      context: ./backend
      dockerfile: Dockerfile

    depends_on:
      connect-postgres:
        condition: service_started
        restart: true

    restart: unless-stopped

    networks:
      - proxy-net

    extra_hosts:
      - "waikato-connect.trex-sandwich.com:127.0.0.1"

    environment:
      - NODE_PORT=4000
      - NODE_HOST=waikato-connect.trex-sandwich.com
      - NODE_ENV=production
      - PORT=4000
      - JWT_SECRET=....
      - DATABASE_URL=postgresql://waiconnect:waiconnect@connect-postgres:5432/waiconnect

    ports:
      - "4000:4000"

    labels:
      - "caddy=waikato-connect.trex-sandwich.com"
      - "caddy.reverse_proxy={{upstreams 4000}}"

    tty: true

  waikato-connect-frontend:
    container_name: waikato-connect-frontend
    
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: https://waikato-connect.trex-sandwich.com

    restart: unless-stopped

    networks:
      - proxy-net

    extra_hosts:
      - "waikato-connect-frontend.trex-sandwich.com:127.0.0.1"

    ports:
      - "3000:80"

    labels:
      - "caddy=waikato-connect-frontend.trex-sandwich.com"
      - "caddy.reverse_proxy={{upstreams 80}}"

networks:
  proxy-net:
    external: true
